<li>
<p>{{drink_name}}</p>
	<div class="drink">
	<div class="glass {{drink_color}}"></div>
	<div class="liquor"></div>
	</div>
{{#if drink_up}}
	<button class="drink-up" data-id="{{id}}" data-newdrink="{{drink_up}}">
		Drink Up!
	</button>
{{/if}}
	<button class="delete-drink" data-id="{{this.id}}">Dump...</button>
</li>
